<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Webkul_Grid::manager" title="Crud" module="Webkul_Grid" sortOrder="10" resource="Webkul_Grid::manager"/>
        <add id="Webkul_Grid::add_row" title="Crud POSTS" module="Webkul_Grid" sortOrder="20" parent="Webkul_Grid::manager" action="grid/grid" resource="Webkul_Grid::add_row"/>
        <add id="Webkul_Grid::add_roww" title="Crud CATEGORY" module="Webkul_Events" sortOrder="30" parent="Webkul_Grid::manager" action="webkul_events/items/" resource="Webkul_Events::add_row"/>

    </menu>
</config>
